﻿@using WebApplication1.Models.Dictionary;
@using DevExtreme.AspNet.Mvc;
@using WebApplication1.Models.QuestionsAndAnswers
@{
    Layout = "_AdminLayout";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All Clients</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">All Clients</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">All clients license</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                
                @(Html.DevExtreme().DataGrid<ClientConfiguration>()
                    .DataSource(d => d
                        .OData()
                        .Url("/odata/ClientConfigurations")
                        .Version(4)
                        .BeforeSend("(e)=>AddClient(e)")
                        .Key("Id"))
                    .RemoteOperations(true)
                    .OnInitNewRow("onInitNewRow")
                    .Export(e => e.Enabled(true))
                    .FilterRow(f => f.Visible(true))
                    .GroupPanel(g => g
                        .Visible(true)
                        .EmptyPanelText("Drag the columns from the table section by which you want to group"))
                    .Editing(ed => ed
                        .AllowDeleting(true)
                        .AllowUpdating(true)
                        .Mode(GridEditMode.Row))
                    .Columns(columns =>
                    {
                        columns.Add().Type( GridCommandColumnType.Buttons).Buttons(b=>{
                            b.Add().Name(GridColumnButtonName.Edit);
                        });
                        columns.AddFor(c => c.Client.Name).Caption("Client").Visible(true).AllowEditing(false);
                        columns.AddFor(c => c.DeviceId).Caption("Device ID").Visible(true).AllowEditing(false);
                        columns.AddFor(c => c.PaymentStatus).Caption("Payment status").Lookup(lookup => lookup.DataSource(Enum.GetNames(typeof(PaymentStatus)))).AllowEditing(true);
                    }) 
                    .MasterDetail(md => {
                        md.Enabled(true);
                        md.Template(new TemplateName("files"));
                    })
                    .FocusedRowEnabled(true)
                    .ShowBorders(true)
                    .Paging(p => p.PageSize(10))
                    )
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <!-- Footer -->
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
@using(Html.DevExtreme().NamedTemplate("files")) {
    @(Html.DevExtreme().DataGrid<ClientConfigurationFileModel>()
        .DataSource(d => d
            .OData()
            .Url("/odata/ClientConfigurationFileModels")
            .Version(4)
            .BeforeSend("(e)=>Filter(e,data)")
            .Key("Id"))
        .ColumnAutoWidth(true)
        .ShowBorders(true)
        .Columns(columns => {
            columns.AddFor(m=>m.Id)
                .AllowFiltering(false)
                .AllowSorting(false)
                .CellTemplate(@<text>
                        <img style="max-width: 800px;max-height: 800px;float: left;" src="<%- getDownloadPaycheckUri(value) %>" alt=""/>
                </text>);
        })
                                
        )
}

<script>
    var dataGrid,
        taskIdEditor;
    var currentID = 0;
    function onInitNewRow(e) {
        e.data.Id = 0;
        console.log(e.data);
    }
    function onTaskIdEditorInitialized(e) {
        taskIdEditor = e.component;
    }

    function onTaskIdEditorValueChanged(e) {
        if (e.event && e.value > 0) {
            dataGrid.option("focusedRowKey", e.value);
        }
    }

    function autoNavigateToFocusedRowChanged(e) {
        dataGrid.option("autoNavigateToFocusedRow", e.value);
    }

    function onDataGridInitialized(e) {
        dataGrid = e.component;
    }
    function Filter(e,data){
        e.params.$filter = "ClientConfigurationId eq "+data.Id;
    }
    
    function AddClient(e){
        e.params.$expand = "client";
    }
    
    function getDownloadPaycheckUri(id){
        return "../Home/DownloadPaycheck?fileId="+id;
    }
    function downloadPaycheck(e){
        var url =  "../Home/DownloadPaycheck?fileId="+e.row.data.Id;
        window.open(url, '_blank');
    }
</script>