﻿@using WebApplication1.Models.Dictionary;
@using DevExtreme.AspNet.Mvc;
@using WebApplication1.Models.QuestionsAndAnswers
@{
    Layout = "_AdminLayout";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tariffs</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">All tariffs</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">All tariffs</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                @(Html.DevExtreme().DataGrid<Tariff>()
                    .DataSource(d => d
                        .OData()
                        .Url("/odata/Tariffs")
                        .Version(4)
                        .Key("Id"))
                    .RemoteOperations(true)
                    .OnInitNewRow("onInitNewRow")
                    .Export(e => e.Enabled(true))
                    .FilterRow(f => f.Visible(true))
                    .GroupPanel(g => g
                        .Visible(true)
                        .EmptyPanelText("Drag the columns from the table section by which you want to group"))
                    .Editing(ed => ed
                        .AllowAdding(true)
                        .AllowDeleting(true)
                        .AllowUpdating(true)
                        .Mode( GridEditMode.Row))
                    .Columns(columns =>
                    {
                        columns.Add().Type( GridCommandColumnType.Buttons).Buttons(b=>{
                            b.Add().Name(GridColumnButtonName.Edit);
                        });
                        columns.AddFor(c => c.Id).Caption("ID").Width(100).Visible(false).AllowEditing(false);
                        columns.AddFor(c => c.Name).Caption("Name");
                        columns.AddFor(c => c.Months).Caption("Duration (Months)");
                        columns.AddFor(c => c.Price).Caption("Price");
                       //var c = columns.Add();
                       //c.Buttons()
                    })
                    .FocusedRowEnabled(true)
                    .ShowBorders(true)
                    .Paging(p => p.PageSize(10))
                    )
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <!-- Footer -->
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

<script>
    var dataGrid,
        taskIdEditor;
    var currentID = 0;
    function onInitNewRow(e) {
        e.data.Id = 0;
        console.log(e.data);
    }
    function onTaskIdEditorInitialized(e) {
        taskIdEditor = e.component;
    }

    function onTaskIdEditorValueChanged(e) {
        if (e.event && e.value > 0) {
            dataGrid.option("focusedRowKey", e.value);
        }
    }

    function autoNavigateToFocusedRowChanged(e) {
        dataGrid.option("autoNavigateToFocusedRow", e.value);
    }

    function onDataGridInitialized(e) {
        dataGrid = e.component;
    }
    function downloadPaycheck(e){
        var url =  "../Home/DownloadPaycheck?clientConfigurationId="+e.row.data.Id;
        window.open(url, '_blank');
    }
</script>