﻿@using WebApplication1.Models.QuestionsAndAnswers;
@using DevExtreme.AspNet.Mvc;
@{
    Layout = "_ManagerLayout";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All Clients</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">All Clients</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">All Clients data</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                @(Html.DevExtreme().DataGrid<Client>()
            .DataSource(d => d
                .OData()
                .Url("/odata/Clients")
                .Version(4)
                .Key("Id")
            )
            .RemoteOperations(true)
            .OnInitNewRow("onInitNewRow")
            .Export(e => e.Enabled(true))
            .FilterRow(f => f.Visible(true))
            .GroupPanel(g => g
                .Visible(true).EmptyPanelText("Drag the columns from the table section by which you want to group"))
            .Editing(ed => ed
                .AllowAdding(true)
                .AllowDeleting(true)
                .AllowUpdating(true)
                .Mode(GridEditMode.Popup)
                             .Popup(p => p.Title("Client request").ShowTitle(true))
                .Form(f => f.ColCount(1)
                .Items(item =>
                    item.AddTabbed()
                    .Tabs(tab =>
                    {
                        tab.Add().Title("Main")
                            .ColCount(2)
                            .Items(i =>
                            {
                                i.AddGroup()
                                .Items(i =>
                                {
                                    i.AddSimpleFor(c => c.Id);
                                    i.AddSimpleFor(c => c.Name);
                                    i.AddSimpleFor(c => c.ClientNumber);
                                    i.AddSimpleFor(c => c.Email);
                                    i.AddSimpleFor(c => c.Phone);
                                    i.AddSimpleFor(c => c.Appproved);
                                });
                                i.AddGroup()
                                .Items(i =>
                                {

                                });

                            });
                        tab.Add().Title("Client Configurations")
                            .ColCount(1)
                            .Items(i =>
                            {
                                i.AddGroup().Items(it => it.AddSimple()
                                .Template(new TemplateName("ConfTemplate")));
                            });

                    })))
            )

                    .Columns(columns => {
                        columns.AddFor(c => c.Id).Caption("ИД").Width(100).Visible(false);
                        columns.AddFor(c => c.Name).Caption("Название");
                        columns.AddFor(c => c.ClientNumber).Caption("Client Number");
                        columns.AddFor(c => c.Email).Caption("Email");
                        columns.AddFor(c => c.Phone).Caption("Phone");
                        columns.AddFor(c => c.Appproved).Caption("Approved");
                    })
                    .OnInitialized("onDataGridInitialized")
                .FocusedRowEnabled(true)
                .ShowBorders(true)
                .OnEditingStart("OnEditingStart")
                .OnInitNewRow("onInitNewRow")
                .Paging(p => p.PageSize(10))
                )
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <!-- Footer -->
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>


@using (Html.DevExtreme().NamedTemplate("ConfTemplate"))
{
    <div id="AnswersDataGridContainer">
        @(Html.DevExtreme().DataGrid<ClientConfiguration>()
                .ID("AnswersDataGrid")
                .DataSource(d => d
                    .OData()
                    .Url("/odata/ClientConfigurations")
                    .Version(4)
                    .Key("Id"))
                .HoverStateEnabled(true)
                .DataSourceOptions(dsp => dsp
                    .Filter("['ClientID', '=', currentID]"))
                .Editing(ed => ed
                    .AllowAdding(true)
                    .AllowDeleting(true)
                    .AllowUpdating(true))
                .OnInitNewRow("onInitMasterDetailNewRow")
                .Columns(cols =>
                {
                    cols.AddFor(c => c.Id).Visible(false);
                    cols.AddFor(c => c.DateEnd);
                    cols.AddFor(c => c.DeviceId);
                    cols.AddFor(c => c.PaymentStatus);
                })
                .Visible(true)
        )
    </div>

}


<script type="text/javascript">
    var dataGrid,
        taskIdEditor;
    var currentID = 0;

    function onInitNewRow(e) {
        e.data.Id = 0;
        console.log(e.data);
    }
    function onTaskIdEditorInitialized(e) {
        taskIdEditor = e.component;
    }

    function onTaskIdEditorValueChanged(e) {
        if (e.event && e.value > 0) {
            dataGrid.option("focusedRowKey", e.value);
        }
    }

    function onInitMasterDetailNewRow(e) {
        e.data.Id = 0;
        e.data.ClientID = currentID;
    }

    function OnEditingStart(e) {
        currentID = e.key;
        setTimeout(function () {
            var grid = [getGrid()];
            grid.forEach(function (grid) {
                var dataSource = grid.getDataSource();
                console.log('1', dataSource);
                dataSource.filter(['QuestionID', '=', currentID]);
                dataSource.load();
            })
        }, 300);
    }
    function getGrid() {
        console.log(" return getGrid");
        var dd = $("#AnswersDataGrid").dxDataGrid("instance");
        console.log(dd);
        return dd;
    }

    function autoNavigateToFocusedRowChanged(e) {
        dataGrid.option("autoNavigateToFocusedRow", e.value);
    }

    function onDataGridInitialized(e) {
        dataGrid = e.component;
    }
</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>