﻿@model WebApplication1.Models.IdentityModels.RegisterViewModel;
@{
    Layout = "_Layout";
}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="../Home/Index">Home</a></li>
          <li>New user registration</li>
        </ol>
        <h2>New user registration</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
            <form id="form-register" method="post" asp-controller="Account" asp-action="Register">
                <div class="col-md-6">
                    <input id="input-email" class="form-control" name="Email" placeholder="Email" required/>
                    <span  id="input-email-span" ></span>
                </div>
                <p></p>
                <div class="col-md-6">
                    <input  id="input-year"  class="form-control" name="Year" placeholder="Year" required/>
                    <span id="input-year-span" ></span>
                </div>
                <p></p>
                <div class="col-md-6"> 
                    <input id="input-password" type="password" class="form-control" name="Password" placeholder="Password" required/>
                    <span id="input-password-span"></span>
                </div>
                <p></p>
                <div class="col-md-6">
                    <input id="input-passwordconfirm" type="password"class="form-control" name="PasswordConfirm" placeholder="Password Confirm" required/>
                    <span id="input-passwordconfirm-span" ></span>
                </div>
                <p></p>
                <div class="container">
                    <input type="submit" value="Registration" class="btn btn-primary" />
                </div>
            </form>
      </div>
    </section>
    <script>  
        window.onload = function(){
            $('#form-register').submit(function(e){
                try{
                    var formIsValid = true;
                    var inputPassword = $("#input-password");
                    var inputPasswordSpan = $("#input-password-span");

                    var inputConfirmPassword = $("#input-passwordconfirm");
                    var inputConfirmPasswordSpan = $("#input-passwordconfirm-span");

                    var inputYear = $("#input-year");
                    var inputYearSpan = $("#input-year-span");

                    var inputEmail = $("#input-email");
                    var inputEmailSpan = $("#input-email-span");

                    var password = inputPassword.val();
                    var passwordErrors = getPasswordErrors(password);

                    var confirmPassword = inputConfirmPassword.val();

                    var year = inputYear.val();
                    var yearErrors = getYearErrors(year);

                    var email = inputEmail.val();
                    var emailIsValid = validateEmail(email);

                    if(passwordErrors.length>0)
                    {
                        inputPasswordSpan.text(passwordErrors.join("; "));
                        formIsValid=false;
                    }

                    if(password != confirmPassword)
                    {
                        inputConfirmPasswordSpan.text("Passwords are not the same");
                        formIsValid=false;
                    }
                    if(yearErrors.length>0){
                        inputYearSpan.text(yearErrors.join("; "));
                        formIsValid=false;
                    }

                    if(emailIsValid==false)
                    {
                        inputEmailSpan.text("Email is invalid");
                        formIsValid=false;
                    }

                    if(formIsValid==false){
                        e.preventDefault();

                    }
                }catch(e){
                    e.preventDefault();
                    alert("Unexpected error: " + e);
                    console.log(e);
                }
                
            });
        }
        function getPasswordErrors(password) {  
          //check empty password field  
          let errors = [];
          if(password == "") {  
             errors.push("**Fill the password please!");
          }  
   
         //minimum password length validation  
          if(password.length < 8) {  
             errors.push("**Password length must be atleast 8 characters");
          }  
  
        //maximum length of password validation  
          if(password.length > 15) {  
            errors.push("**Password length must not exceed 15 characters"); 
          }
          return errors;
        }
        function getYearErrors(year) {
          let errors = [];
          var text = /^[0-9]+$/;

            if ((year != "") && (!text.test(year))) {
                errors.push("Please Enter Numeric Values Only");
            }
            var current_year=new Date().getFullYear();
            if((year < 1920) || (year > current_year)){
                errors.push("Year should be in range 1920 to current year");
            }
          
          
          return errors;
        }
        const validateEmail = (email) => {
          return String(email)
            .toLowerCase()
            .match(
              /^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
        };
</script>  
  </main><!-- End #main -->




  