﻿@{
    Layout = "_Layout";
}

<main id="main">
    <section class="inner-page">
    <div class="container">
        <h1>
        403
        </h1>
        <h2>
        Access Deinied
        </h2>
        <h3>
        Forbiden
        </h3>
    </main id>
    </section class>
</div class>