﻿
@{
    Layout = "_Layout";
}
<main id="main">
 <section class="inner-page">
      <div class="container">
        <h1>
            500
        </h1>
        <h2>
            Internal Server Error
        </h2>
        <h3>
           Our server ate bugs, try again. 
        </h3>
       </div class>
 </section class>
</main id>
