﻿@{
    Layout = "_Layout";
}

<main id="main">
    <section class="inner-page">
      <div class="container">
        <h1>
            401
        </h1>
        <h2>
            Ununauthorized
        </h2>
        <h3>
            The user is not authorized.
        </h3>
       </div class>
    </section class>
</main id>
    
      