﻿@model WebApplication1.Models.IdentityModels.RoleDTO
@{
    ViewBag.Title = "AddRole";
    Layout = "_AdminLayout";
}
@using (Html.BeginForm())
{
    <div class="content-wrapper">
        <div class="card">
            <section class="content-header">
                <h1>
                    Roles
                    <small></small>
                </h1>
            </section>
            <br />
            @Html.AntiForgeryToken()
            <div class="card-primary">
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Role name", "Role name",
                       htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RoleName,
                           new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RoleName,
                           "",
                           new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                            @Html.ActionLink("Back",
                           "ViewAllRoles","admin",
                           null,
                           new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
