﻿@model WebApplication1.Models.IdentityModels.UserAndRolesDTO
@{
    ViewBag.Title = "EditRoles";
    Layout = "_AdminLayout";
}
@using (Html.BeginForm())
{
    <div class="content-wrapper">
        <div class="card-body">
            <section class="content-header">
                <h1>
                    Roles
                    <small></small>
                </h1>
            </section>


            @Html.AntiForgeryToken()
            <br />
            @Html.ValidationSummary(true,
            "",
            new { @class = "text-danger" })
            <div>
                @Html.ActionLink("Back",
               "EditUser",
               new { UserName = Model.UserName },
               new { @class = "btn btn-default" })
                <input type="submit" value="Add role" class="btn btn-default" />
                @Html.DropDownList("AddRole")
            </div>
            <br />
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">All roles</h3>

                    <div class="card-tools pull-right">
                        <button type="button" class="btn btn-card-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-card-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="panel">
                        <table class="table">
                            <tr>
                                <th>
                                    Roles:
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.colUserRoleDTO)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoleName)
                                    </td>
                                    <td>
                                        @if (!((Model.UserName.ToLower() ==
                                            this.User.Identity.Name.ToLower()) &&
                                            item.RoleName == "Administrator") &&
                                            item.RoleName != "No roles")
                                        {
                                            if (item.RoleName != "No roles")
                                            {
                                                @Html.ActionLink("Delete", "DeleteRole",
                                               new { UserName = item.UserName, RoleName = item.RoleName },
                                                new
                                                {
                                                    onclick =
                                                "Confirm('Are you sure you want to delete this role?');"
                                                })}
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
