﻿@model WebApplication1.Models.IdentityModels.ExpandedUserDTO
@{
    Layout = "_AdminLayout";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @*<input class="hidden" name="OrganizationID" value="@ViewBag.OrganizationID " />*@
    <div class="content-wrapper">
        <div class="card-body">
            <section class="content-header">
                <h1>
                    User Settings
                    <small></small>
                </h1>
            </section>
            <br />

            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">Настройки пользователя</h3>
                </div>
                <div class="card-body">
                    <div class="panel">


                        <div class="form-horizontal">
                            @Html.ValidationSummary(true,
                           "",
                           new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.Label("User name", "User name",
                               htmlAttributes: new { @class = "control-label col-md-2" })
                                
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.UserName,
                                   new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "",
                                   new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Email", "Email",
                               htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email,
                                   new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email,
                                   "",
                                   new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Password", "Password",
                               htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(model => model.Password,
                                   new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password,
                                   "",
                                   new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                    @Html.ActionLink("Setting up roles", "EditRoles", "admin",
                                   new { UserName = Model.UserName },
                                   new { @class = "btn btn-default" })
                                    @Html.ActionLink("Back",
                                   "Index", "admin",
                                   null,
                                   new { @class = "btn btn-default" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
