﻿@model X.PagedList.IPagedList<WebApplication1.Models.IdentityModels.ExpandedUserDTO>
@using X.PagedList.Mvc.Core
<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "_AdminLayout";
}

<div class="content-wrapper">
    <div class="card-body">
        <section class="content-header">
            <h1>
                Administration
                <small></small>
            </h1>
        </section>


        <br />
        <div class="card">
            <div class="card-header with-border">
                <h3 class="card-title">All Users</h3>
            </div>
            <div class="card-body">
                <div class="panel">
                    <br />
                    <p>
                        @Html.ActionLink("Create account", "Create", "Admin", null, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Edit roles", "ViewAllRoles", "Admin", null, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-primary" })
                    </p>
                    <br />
                    <table class="table" data-page-length='25'>
                        <tr>
                            <th>
                                User name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(ModelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "EditUser", "admin", new { UserName = item.UserName }) |
                                    @Html.ActionLink("Delete", "DeleteUser", "admin", new { UserName = item.UserName },
                                        new { onclick = "return confirm('Are you sure you want to delete this user?');" })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>