﻿@model IEnumerable<WebApplication1.Models.IdentityModels.RoleDTO>
@{
    ViewBag.Title = "ViewAllRoles";
    Layout = "_AdminLayout";
}

<div class="content-wrapper">
    <div class="card-body">
        <section class="content-header">
            <h1>
                All roles
                <small></small>
            </h1>
        </section>
        <br />


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card card-primary">
            <div class="card-header with-border">
                <h3 class="card-title">All roles</h3>
            </div>
            <div class="card-body">
                <div class="panel">
                    <table class="table">
                        <tr>
                            <th>
                                Role
                            </th>
                            <th>
                                Action
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RoleName)
                                </td>
                                <td>
                                    @if (item.RoleName.ToLower() != "administrator")
                                    {
                                        @Html.ActionLink("Delete", "DeleteUserRole",
                                       new { RoleName = item.RoleName },
                                       new
                                       {
                                           onclick =
                                       "Confirm('Are you sure you want to delete this role?');"
                                       })
                                    }
                                </td>

                            </tr>
                        }

                    </table>

                </div>
                <p>
                    @Html.ActionLink("Back", "Index","admin", null, new { @class = "btn btn-default" })
                    @Html.ActionLink("Add role", "AddRole","admin", null, new { @class = "btn btn-default" })
                </p>
            </div>

        </div>
    </div>
</div>
