﻿@using WebApplication1.Models.AuditModels
@using DevExtreme.AspNet.Mvc;
@{
    Layout = "_AdminLayout";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All app logs</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">All logs</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">All app logs</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                @(Html.DevExtreme().DataGrid<AuditData>()
            .DataSource(d => d
                .OData()
                .Url("/odata/AuditDatas")
                .Version(4)
                .Key("Id")
            )
            .RemoteOperations(true)
            .Export(e => e.Enabled(true))
            .FilterRow(f => f.Visible(true))
            .GroupPanel(g => g
                .Visible(true).EmptyPanelText("Drag the columns from the table section by which you want to group"))
                .FocusedRowEnabled(true)
                .ShowBorders(true)
                .Paging(p => p.PageSize(100))
                )
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <!-- Footer -->
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

<script>
    var dataGrid,
        taskIdEditor;
    var currentID = 0;
    function onInitNewRow(e) {
        e.data.Id = 0;
        console.log(e.data);
    }
    function onTaskIdEditorInitialized(e) {
        taskIdEditor = e.component;
    }

    function onTaskIdEditorValueChanged(e) {
        if (e.event && e.value > 0) {
            dataGrid.option("focusedRowKey", e.value);
        }
    }

    function autoNavigateToFocusedRowChanged(e) {
        dataGrid.option("autoNavigateToFocusedRow", e.value);
    }

    function onDataGridInitialized(e) {
        dataGrid = e.component;
    }
</script>