﻿@using WebApplication1.DtoModels
@using WebApplication1.Models.QuestionsAndAnswers
@model PaymentUnit

@{
    Layout = "_Layout";
}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="../Home/Index">Home</a></li>
          <li>Add device</li>
        </ol>
        <h2>Create License</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">

             
        

                <form method="post" asp-controller="Home" asp-action="Create">
               
                <input type="text" asp-for="DeviceId" class="form-control" name="DeviceId" placeholder="DeviceId" required />
                <p></p>
                <input type="submit" value="Add device" class="btn btn-primary" />
                <div asp-validation-summary="ModelOnly"></div>
                </form>

               
        
      </div>
    </section>
    
  </main><!-- End #main -->