﻿@model WebApplication1.Models.QuestionsAndAnswers.ClientConfiguration

@{
    Layout = "_Layout";
}

<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">Instruction</a></li>
                
            </ol>
            

        </div>
    </section>
    <section class="Upload-PayCheck">
        <div class="container">

            
        </div>
    </section>

</main>