﻿@using WebApplication1.Models.QuestionsAndAnswers
@model Client

@{
    Layout = "_Layout";
}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="../Home/Index">Home</a></li>
          <li>My page</li>
        </ol>
        <h2>My page</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
            @if (Model.Appproved==true)
            {

                        @Html.ActionLink("Download installer", "DownloadInstaller","Home", null, new { @class = "btn btn-primary" })      
                    <spacer width="10px"></spacer>
                        @Html.ActionLink("Add new license", "Tariff","home", null, new { @class = "btn btn-primary" })
                    
            <p></p>
            <table class="table">
                <tr>
                    
                    <th>
                        Device Id
                    </th>
                    <th>
                        Expires at
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                        Status
                    </th>
                </tr>

                @foreach (var item in Model.ClientConfigurations)
                {
                    <tr>
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.DeviceId)
                        </td>
                        <td>
                            @item.DateEnd.Value.ToString("yyyy.MM.dd")
                        </td>
                        <td>
                            @if(item.PaymentStatus== PaymentStatus.Completed)
                            {
                                @Html.ActionLink("Download license", "GetLicenseFile","Home", new {id=item.Id}, new { @class = "btn btn-primary" })
                            }
                        </td>
                        <td>
                            @if(item.PaymentStatus == PaymentStatus.Initial)
                            {
                                <button onclick="showModal(@(item.Id))" class="btn btn-primary">
                                    Upload payment
                                </button>
                            }
                            else if(item.PaymentStatus == PaymentStatus.Waiting|| item.PaymentStatus == PaymentStatus.Failed)
                            {
                                <button onclick="showModal(@(item.Id))" class="btn btn-warning">
                                    Update payment
                                </button>
                            }
                        </td>
                        <td>
                            @if(item.PaymentStatus == PaymentStatus.Initial)
                            {
                                <p class="text-primary">Please, upload payment</p>
                            }
                            else if(item.PaymentStatus == PaymentStatus.Waiting)
                            {
                                <p class="text-warning">Payment uploaded, please wait</p>
                            }
                            else if(item.PaymentStatus == PaymentStatus.Failed)
                            {
                                <p class="text-danger">Something wrong with payment file</p>
                            }
                            else if(item.PaymentStatus == PaymentStatus.Completed)
                            {
                                <p class="text-success">Payment completed</p>
                            }
                        </td>
                    </tr>
                }

            </table>

                  

            <div>
                <div class="modal" tabindex="-1" role="dialog" id="upload-paycheck-modal">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form id="upload-paycheck" asp-action="UploadPaycheck" asp-route-clientConfigurationId="@Model.Id" asp-controller="Home" method="post" enctype="multipart/form-data">
                              <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                              </div>
                              <div class="modal-body">
                                <input type="file" name="invoiceFiles" multiple/>
                                <input type="hidden" id="modal-clientConfigurationId" name="clientConfigurationId" value=""/>
                              </div>
                              <div class="modal-footer">
                                <input type="submit" value="Upload" class="btn btn-primary" />
                              </div>
                            </form>
                        </div>
                      </div>
                    </div>
                </div>
            }
            else
            {
                <h1 class="text-primary">
                    Your account is being verified
                </h1>
            }
            
      </div>
    </section>
    <script>
        window.onload = function(){
            $('#upload-paycheck').submit(function(e){
                 e.preventDefault();

                 var formData = new FormData(this);

                 $.ajax({
                    type: "POST",
                    url: './UploadPaycheck',
                    data: formData, // serializes the form's elements.
                    success: function(data)
                    {
                      window.location.reload(); // show response from the php script.
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        }
           
        function showModal(id){
            $('#upload-paycheck-modal').modal('show');
            $('#modal-clientConfigurationId').val(id);
        }
    </script>
  </main><!-- End #main -->