﻿@model IEnumerable<WebApplication1.Models.QuestionsAndAnswers.Tariff>

@{
    Layout = "_Layout";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="../Home/Index">Home</a></li>
                <li>Tariffs</li>
            </ol>
            <h2>Tariffs</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <section id="pricing" class="pricing">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Pricing</h2>
                <p>Check our Pricing</p>
            </header>

            <div class="row gy-4" data-aos="fade-left">
            @foreach (var tariff in Model)
            {
                 

             <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box">
                        <h3 style="color: #07d5c0;">@tariff.Name</h3>
                        <div class="price"><sup>$</sup>@tariff.Price<span></span></div>
                        <img src="~/FlexStart/assets/img/pricing-free.png" class="img-fluid" alt="">
                        <ul>
                            <li>@tariff.Months months</li>
                        </ul>
                        @Html.ActionLink("Buy","Create","Home", new{tariffId = tariff.Id} , new { @class = "btn btn-primary" })
                    </div>
                </div>
               



            }
            </div>

        </div>

    </section>
</main><!-- End #main -->