﻿@model WebApplication1.Models.QuestionsAndAnswers.ClientConfiguration

@{
    Layout = "_Layout";
}

<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="../Home/Index">Home</a></li>
                <li>Add</li>
            </ol>
            <h2>UploadPaycheck</h2>

        </div>
    </section>
    <section class="Upload-PayCheck">
        <div class="container">

            <form asp-action="UploadPaycheck" asp-route-clientConfigurationId="@Model.Id" asp-controller="Home" method="post" enctype="multipart/form-data">
                <input type="file" name="invoiceFiles" multiple/>
                <input type="hidden" name="clientConfigurationID" value="@Model.Id"/>
                <input type="submit" value="Загрузить" class="btn btn-primary" />
            </form>
        </div>
    </section>

</main>